* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#nav{
    border-bottom: 1px solid #CC196C;
}

#banner{
    display: flex;
    justify-content: center;
}
#titol{
    display: flex;
    align-items: center;
}
#logo{
    width: 150px;
}
#nav{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
nav ul li{
    display: inline-block;
    width: 8em;
    text-align: center;
    font-size: 1.25em;
       
}

nav ul li a{
    text-decoration: none;
    font-family: 'Press Start 2P', monospace;
    color: #CC196C;
    transition: color 0.1s;
    transition: font-size 1s;
}

nav ul li a:hover{
    text-decoration: none;
    font-family: 'Press Start 2P', monospace;
    color: #CC196C;
    font-size: 1.25em;
}
/* fons del body i el main no es mou nomes es mouen les caixes / divs  */
body{
    overflow-x: hidden;
    min-height: 200vh; 
    background-image: url('../img/fons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}
main {
    margin-top: 3em;
    min-height: 200vh; 
    background-image: url('../img/fons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}
#titular{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    color: #CC196C;
    font-size: 2em;
}
.caixa{
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    
}

#caixa1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'RetroFont', monospace;
    font-size: 48px;
    color: #FFD700;
    text-shadow:
      2px 2px 0 #000066,
      4px 4px 0 #000033;
}
.caixa h2{
    margin-bottom: 1em;
    color: #CC196C;
    font-family: 'Press Start 2P', monospace;
}

.caixa a{
    margin-top: 1em;
    text-decoration: none;
    color: white;
    background-color: #CC196C;
    border: 2px solid black;
    padding: 1em;
    border-radius: 7px;
    transition-duration: 1s;
    font-family: 'Press Start 2P', monospace;
}
.caixa img{
    border-radius: 10vh 10vh;
}
.caixa a:hover{
    color: black;
    background-color: #FFD700;
    font-size: 1.3em;
    font-family: 'Press Start 2P', monospace;
    
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#gridWrapper{
    display: grid;
    grid-template: repeat(1,1fr) / repeat(3,1fr);
    justify-content: center;
    
}

#gridWrapper{grid-template: repeat(1,1fr) / repeat(3,1fr);
    width: 100vw;}
#caixa1{grid-area: 1 / 2 / span 1 / span 1;min-width: 70vw;}
#caixa2{grid-area: 2 / 2 / span 1 / span 1;min-width: 70vw;}
#caixa3{grid-area: 3 / 2 / span 1 / span 1;min-width: 70vw;}
#caixa4{grid-area: 4 / 2 / span 1 / span 1;min-width: 70vw;}




      
    
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (max-width: 786px){
        #gridWrapper{grid-template: repeat(12,1fr) / repeat(1,1fr);}
        #caixa1{grid-area: 1 / 1 / span 1 / span 1;}
        #caixa2{grid-area: 2 / 1 / span 1 / span 1;}
        #caixa3{grid-area: 3 / 1 / span 1 / span 1;}
        #caixa4{grid-area: 4 / 1 / span 1 / span 1;}
        #caixa5{grid-area: 5 / 1 / span 1 / span 1;}
        #caixa6{grid-area: 6 / 1 / span 1 / span 1;}
        #caixa7{grid-area: 7 / 1 / span 1 / span 1;}
        #caixa8{grid-area: 8 / 1 / span 1 / span 1;}
        #caixa9{grid-area: 9 / 1 / span 1 / span 1;}
        #caixa10{grid-area: 10 / 1 / span 1 / span 1;}
        #caixa11{grid-area: 11 / 1 / span 1 / span 1;}
        #caixa12{grid-area: 12 / 1 / span 1 / span 1;}
    
    }

    /* Medium devices (landscape tablets, 768px and u) */
    @media only screen and (min-width: 768px) {
        #gridWrapper{grid-template: repeat(4,1fr) / rpeat(2,1fr);}
        #caixa1{grid-area: 1 / 1 / span 1 / span 2; min-width: 768px;}
        #caixa2{grid-area: 2 / 1 / span 1 / span 1; min-width: 40vw;}
        #caixa3{grid-area: 2 / 2 / span 1 / span 1;min-width: 40vw;}
        #caixa4{grid-area: 3 / 1 / span 1 / span 2;min-width: 768px;}
        #caixa5{grid-area: 4 / 1 / span 1 / span 2;min-width: 768px;}
        #caixa6{grid-area: 5 / 1 / span 1 / span 1;min-width: 40vw;}
        #caixa7{grid-area: 5 / 2 / span 1 / span 1;min-width: 40vw;}
        #caixa8{grid-area: 6 / 1 / span 1 / span 2;min-width: 768px;}
        #caixa9{grid-area: 7 / 1 / span 1 / span 2;min-width: 768px;}
        #caixa10{grid-area: 8 / 1 / span 1 / span 1;min-width: 40vw;}
        #caixa11{grid-area: 8 / 2 / span 1 / span 1;min-width: 40vw;}
        #caixa12{grid-area: 9 / 1 / span 1 / span 2;min-width: 768px;}
      
    }
    
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      #gridWrapper{grid-template: repeat(1,1fr) / repeat(3,1fr);}
      #caixa1{grid-area: 1 / 2 / span 1 / span 1; min-width:30vw;}
      #caixa2{grid-area: 2 / 1 / span 1 / span 1;min-width:30vw;}
      #caixa3{grid-area: 2 / 2 / span 1 / span 1;min-width:30vw;}
      #caixa4{grid-area: 2 / 3 / span 1 / span 1;min-width:30vw;}
      #caixa5{grid-area: 3 / 2 / span 1 / span 1;min-width:30vw;}
      #caixa6{grid-area: 4 / 1 / span 1 / span 1;min-width:30vw;}
      #caixa7{grid-area: 4 / 2 / span 1 / span 1;min-width:30vw;}
      #caixa8{grid-area: 4 / 3 / span 1 / span 1;min-width:30vw;}
      #caixa9{grid-area: 5 / 2 / span 1 / span 1;min-width:30vw;}
      #caixa10{grid-area: 6 / 1 / span 1 / span 1;min-width:30vw;}
      #caixa11{grid-area: 6 / 2 / span 1 / span 1;min-width:30vw;}
      #caixa12{grid-area: 6 / 3 / span 1 / span 1;min-width:30vw;}
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        
    }