* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.caixa a{
    margin-top: 1em;
    text-decoration: none;
    color: white;
    background-color: #CC196C;
    border: 2px solid black;
    padding: 1em;
    border-radius: 7px;
    transition-duration: 1s;
    font-family: 'Press Start 2P', monospace;
}
.caixa a:hover{
    color: black;
    background-color: #FFD700;
    font-size: 1.3em;
    font-family: 'Press Start 2P', monospace;
    
}
#banner{
    display: flex;
    justify-content: center;
}
#titol{
    display: flex;
    align-items: center;
    flex: 5;
}
#logo{
    width: 150px;
}

#nav{
    border-bottom: 1px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CC196C;

}

nav ul li{
    display: inline-block;
    width: 8em;
    text-align: center;
    font-size: 1.25em;
       
}

nav ul li a{
    text-decoration: none;
    font-family: 'Press Start 2P', monospace;
    color: #CC196C;
    transition: color 0.1s;
    transition: font-size 1s;
}

nav ul li a:hover{
    text-decoration: none;
    font-family: 'Press Start 2P', monospace;
    color: #CC196C;
    font-size: 1.25em;
}
/* fons del body i el main no es mou nomes es mouen les caixes / divs  */
main{
    margin-top: 3em;
    min-height: 200vh; 
    background-image: url('../img/fons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}
body{
    
    min-height: 200vh; 
    background-image: url('../img/fons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}
#titular{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    color: #CC196C;
    font-size: 2em;
}
.caixa{
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    flex: 1;
    padding: 0.5em;
}


.caixa2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
}

#caixa1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'RetroFont', monospace;
    font-size: 48px;
    color: #FFD700;
    text-shadow:
      2px 2px 0 #000066,
      4px 4px 0 #000033;
}
.caixa h2{
    margin-bottom: 1em;
    color: #CC196C;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    justify-content: center;
    width: 90%;
}

#caixa1 img{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
}

.caixa a{
    margin-top: 1em;
    text-decoration: none;
    color: white;
    background-color: #CC196C;
    border: 2px solid black;
    padding: 1em;
    border-radius: 7px;
    transition-duration: 1s;
    font-family: 'Press Start 2P', monospace;
}
.caixa a:hover{
    color: black;
    background-color: #FFD700;
    font-size: 1.3em;
    font-family: 'Press Start 2P', monospace;
    
}
.blog-comentaris {
    color: #CC196C;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    max-width: 80%;
    margin: 0 auto; /* Centra l'element */
}

.blog-nomjocs {
    color: #CC196C;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

#nave {
    flex: 1;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#gridWrapper{
    display: flex;
    flex-direction: column;
    
}

.gridWrapper {
    display: flex; 
    flex-wrap: wrap;
}

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px){
        #gridWrapper2{flex-direction: column;}
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        #nave{flex: none;}
    }
    
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }